<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alopecia Areata</title>
</head>
<body>
    <h1>Alopecia Areata</h1>
    <p>Alopecia areata is a disease that happens when the immune system attacks hair follicles and causes hair loss. 
        Hair follicles are the structures in skin that form hair. While hair can be lost from any part of the body, 
        alopecia areata usually affects the head and face.</p>
</body>
</html>