<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alopecia Areata</title>
</head>
<body>
    <h1>Alopecia Areata</h1>
    <p>Alopecia areata is a disease that happens when the immune system attacks hair follicles and causes hair loss. 
        Hair follicles are the structures in skin that form hair. While hair can be lost from any part of the body, 
        alopecia areata usually affects the head and face.</p>

    <h2>Causes</h2>
    <ul>
        <li>The condition occurs when white blood cells attack the cells in hair follicles, causing them to shrink and dramatically slow down hair production.</li>
        <li>While scientists are unsure why these changes occur, it seems that genetics are involved as alopecia areata is more likely to occur in a person who has a close family member with the disease.</li> 
        <li>Despite what many people think, there is very little scientific evidence to support that alopecia areata is caused by stress. </li>
    </ul>

</body>
</html>