<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <Title>Team Members</Title>
        <link rel="stylesheet" type="text/css" href="../static/css/about_us.css">
        <style>
            body {
			background: url("../static/assets/Ahair.jpeg") no-repeat center center fixed;
			background-repeat: no-repeat;
  			background-attachment: fixed;
  			background-size: 100% 100%;
			font-family: Arial, sans-serif;
			text-align: center;
			padding-top: 50px;
            }

            h3 {
            text-shadow: 5px 5px 8px #ffffff;
            color: #000000;
            font-size: 28px;
        }
        </style>
    </head>
    <body>
        
        
        <br>
        <div class="heading">
            <h1> ABOUT US <br> WE ARE TEAM 78<br>"EDGE RUNNERS"</h1>
        </div>
        <hr>
        <div class="container">
            <div class="box">
                <div class="imgbox">
                    <img src="../static/assets/student_1.jpeg" alt="Zaid Lamier">
                </div>
                <div class="details">
                    <div class="content">
                        <h2>Zaid Lamier</h2>
                        <p>
                        UOW ID - W1911225<br>
                        IIT ID - 20211560
                    </p>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="imgbox">
                    <img src="../static/assets/student_2.jpeg" alt="Rashmi Karunarathne">
                </div>
                <div class="details">
                    <div class="content">
                        <h2> Rashmi Karunarathne</h2>
                        <p>
                        UOW ID - W1867144<br>
                        IIT ID - 20210425</p>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="imgbox">
                    <img src="../static/assets/student_3.jpeg" alt="Mahen Abeykoon">
                </div>
                <div class="details">
                    <div class="content">
                        <h2>Mahen Abeykoon</h2>
                        <p>
                        UOW ID - W1912882
                        <br>
                        IIT ID - 20210563
                    </p>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="imgbox">
                    <img src="../static/assets/student_4.jpeg" alt="Vihanga Wijesinghe">
                </div>
                <div class="details">
                    <div class="content">
                        <h2> Vihanga Wijesinghe</h2>
                        <p>
                        UOW ID - W1867178<br>
                        IIT ID - 20210486</p>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="imgbox">
                    <img src="../static/assets/student_5.jpeg" alt="Lahini Balasooriya">
                </div>
                <div class="details">
                    <div class="content">
                        <h2> Lahini Balasooriya</h2>
                        <p>
                        UOW ID - W1867056<br>
                        IIT ID - 20210277
                    </p>
                    </div>
                </div>
            </div>
        </div>
        <h3>our project is to develop a web application called <b>"DOCHAIR"</b> to track hair loss patterns and give solutions 
            in order to prevent from balding once the hair loss type has identified accurately.
            <br>            
            The way that the application functions is, once an image has been input into the 
            application the application will go through a dataset of hair-diseases and match it 
            with the disease that it looks most like. And once the disease has been identified 
            it can be cross checked by a trichologist and suitable solutions can be prescribed.
            The diagram below illustrates the functionality of the prototype
    </h3>
    </body>
</html>