body {
    background-color: rgb(76, 110, 221);
    margin-left: 20px;
    font-family: arial;
    border: 2px;
    border-style: solid;
    padding-left: 15px;
  }

h1 {
    text-align: center;
    margin-top: 30px;
}

p {
    text-align:justify;
    line-height:30px ; 
}

ul {
    line-height:30px ; 
    font-family:'Times New Roman' ;
}

