<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="hh.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Hair</title>
</head>

<style>
    body {
        background-color: rgb(76, 110, 221);
        margin-left: 20px;
        font-family: arial;
        border: 2px;
        border-style: solid;
        padding-left: 15px;
  }

    h1 {
        text-align: center;
        margin-top: 30px;
    }

    p {
        text-align:justify;
        line-height:30px ; 
    }

    ul {
        line-height:30px ; 
        font-family:'Times New Roman' ;
    }
</style>

<body>
    <h1><b>CONGRATULATIONS! YOU HAVE HEALTHY HAIR</b></h1>
    <h2>Healthy Hair</h2>
    <p>
        <b>"Healthy hair is hair that is free of breakage and split ends and is achieving its maximum potential for your particular hair type,” says Lamb.</b><br><br>
        Hair serves a role in your health — beyond giving you a confidence-boost. <br>
        Hair helps regulate your temperature, keeping you warm when it’s cold, and helping wick sweat when you’re hot. 
        <br>It also helps provide a little padding if you fall, and it may protect your scalp from the sun.<br><br>

    According to the experts, <b>these are some of the main signs of healthy hair,</b> though it may not apply to all hair types.

    <ul>
        <li>Exhibits little breakage and minimal shedding</li>
        <li>Does not break when it’s brushed</li>
        <li>Does not contain dandruff</li>
        <li>Reflects light</li>
        <li>Has sheen and luster</li>
        <li>Contains moisture</li>
    </ul>

    <h2>Here are some tips to maintain your healthy hair</h2>

    </p>

</body>
</html>