body {
    background-color: rgb(37, 82, 227);
  }
  
  p {
    margin-left: 30px;
    font-family: arial;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  h2 {
    margin-left: 30px;
  }
  ul {
    font-family: arial;  
  }