<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="sp.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scalp Psoriasis</title>
</head>
<body>
    <h1>Scalp Psoriasis</h1>
    <p>Scalp psoriasis is a common skin disorder. It may look different on different skin tones.
        It can be a single patch or several, and can even affect your entire scalp.<br>
        It can also spread to your forehead, the back of your neck, or behind and inside your ears.</p>

    <h2>Symptoms of Scalp Psoriasis </h2>
    <p>Symptoms of mild scalp psoriasis may include only slight, fine scaling.<br>
        It includes:
    <ol>  
    <li>Scaly, red or purple bumpy patches</li>
    <li>Silvery-white or gray scales</li>
    <li>Dandruff-like flaking</li>
    <li>Dry scalp</li>
    <li>Itching</li>
    <li>Hair loss</li>
    </ol>
</body>
</html>