body {
    overflow-x: hidden;
}

.flask {
    color: white;
    position: relative;
    display: block;
    margin: 0 auto;
    left: 31%;
    top: 100px;
}

.flask h1 {
    font-size: 30px;
    padding-bottom: 20px;
    position: relative;
    left: 10px;
}

.file-upload {
    background-color: #2179c2;
}
