.landing-sect {
    height: 720px;
    position: relative;
}

.hmpg-desc {
    color: #ffffff;
    font-family: 'Poppins Medium', sans-serif;
    font-size: 13px;
    position: relative;
    left: 120px;
    width: 550px;
    padding-bottom: 20px;
}

h1 {
    font-size: 80px;
    color: white;
    font-family: 'Poppins ExtraBold', sans-serif;
    position: relative;
    width: 50%;
    left: 1%;
    padding-top: 200px;
}

h6 {
    color: white;
    font-family: 'Poppins Medium', sans-serif;
    position: relative;
    left: 290px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.butt-home {
    background-color: #490D0D;
    font-family: "Poppins Medium", sans-serif;
    border-radius: 10px;
    color: white;
    position: relative;
    border: none;
    transition: background-color 0.5s ease;
    margin-left: 370px;

}

.butt-home:hover {
    background-color: #490D0D; /*will change background-color of element on hover */
    border-radius: 10px;
    color: #ffffff;
    font-family: "Poppins Medium", sans-serif;
    border: none;
}

:not(.btn-check) + .butt-home:active {
    background-color: #732121;
    color: #ffffff;
}

.landing-img {
    width: 50%;
    position: absolute;
    left: 50%;
    bottom: 0;
}

.second-sect {
    /*  background-image: linear-gradient(to bottom, #000, #000);
      background-size: 140% 100%;*/
    position: relative;
    left: 0px;
    transform: translate(115%, 0%);
    color: white;
    line-height: 2em;
    text-align: center;
    width: 700px;
    display: flex;
    margin-top: 100px;
}

.black-bg {
    background-color: #000000;
    width: 1250px;
    left: -665px;
    height: 750px;
    position: absolute;
}

.second-sect h4, h5 {
    text-align: left;
    position: relative;
    transform: translate(-40%, 0%);
    padding-bottom: 1em;

}

.second-sect h4 {
    font-size: 25px;
    font-family: 'Poppins ExtraBold', sans-serif;
    padding-top: 50px;
}

.second-sect h5 {
    font-size: 20px;

}

.secPgDesc {
    font-size: 16px;
    font-family: "Poppins Light", serif;
    line-height: 1.5em;
    width: 115%;
    position: relative;
    transform: translate(-30%, 0);
    padding-bottom: 2em;
    text-align: justify;
    padding-top: 2em;
}

.second-sect h2 {
    padding-top: 2em;
    font-size: 22px;
    padding-bottom: 2em;
    transform: translate(-55%, 0px);
    letter-spacing: 0.5em;
}

.create-acc-home {
    position: relative;
    left: -180px;
}

.secpg-img {
    width: 55%;
    position: absolute;
    left: -100%;
    top: -5%;
}

.image-grid {
    transform: translate(0, 0%);
    display: flex;
    justify-content: space-evenly;
}

.image-placeholder {
    width: 300px;
    height: 400px;
    background-color: #b8b8b8;
    filter: drop-shadow(0 0 0.75rem #000000);
}

.image-placeholder img {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 14%;
}

.last-para {
    color: white;
    position: relative;
    display: flex;
    text-align: justify;
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
}

/*
.footer-homePG {
    position: absolute;
    bottom: 0;
    width: 100%;
}
*/

